
@{
    ViewData["Title"] = "ASPNET";
}

<h1>ASPNET</h1>

<img src="https://fusionauth.io/assets/img/blogs/core-identity-considered-harmful/aspnetcore-identity-considered-harmful.png" width="400px" />

<h2>ASP.NET</h2>

<p>ASP.NET es un framework de desarrollo web de Microsoft que permite construir aplicaciones web y utiliza el patrón de diseño Modelo-Vista-Controlador (MVC) para organizar y separar las diferentes capas de la aplicación.
</p>

<h2>Páginas ASPX</h2>

<p>Las páginas ASPX son archivos con extensión .aspx que contienen el código y la interfaz de usuario de una página web. Se utilizan para mostrar información dinámica al usuario y se pueden escribir utilizando lenguajes de marcado como HTML junto con elementos y controles de servidor de ASP.NET para agregar funcionalidades interactivas.
</p>

<h2>Controles de servidor</h2>

<p>Los controles de servidor son elementos de ASP.NET que se utilizan para generar contenido dinámico en las páginas web. Pueden ser controles básicos como etiquetas de texto, botones y cuadros de texto, o controles más complejos como grillas, listas desplegables y calendarios. Los controles de servidor permiten interactuar con el usuario y ejecutar acciones en el servidor.
</p>

<h2>Eventos y código detrás</h2>

<p>En ASP.NET, los eventos se utilizan para manejar la interacción del usuario con los controles de servidor. Los eventos pueden desencadenarse cuando el usuario hace clic en un botón, ingresa datos en un campo de texto, selecciona un elemento de una lista, entre otros. El código que se ejecuta en respuesta a un evento se coloca en la sección de "código detrás" de la página ASPX y se escribe en C# o VB.NET.</p>

<h2>Base de datos y acceso a datos</h2>
<p>ASP.NET proporciona varias opciones para trabajar con bases de datos y realizar operaciones de acceso a datos. Se puede utilizar el lenguaje de consultas SQL para interactuar con bases de datos relacionales, o utilizar el Entity Framework para trabajar con objetos y consultar bases de datos utilizando lenguaje LINQ. Estas opciones facilitan la gestión y manipulación de datos en una aplicación web.</p>