@{
    ViewData["Title"] = "Info";
}

<h1>About Me</h1>
<div>
<img src="/img/profilePicture.jpg" alt="profile-picture" class="pr-picture" />
<p>Nombre: Luis Angel Garcia Louis</p>
<p>Matricula: 2022-0327</p>
<p>Seccion: </p>
</div>