
@{
    ViewData["Title"] = "POO";
}

<h1>POO</h1>
<br/>
<h3>Pilares de la Programación Orientada a Objetos</h3>

<img src="https://www.roberthalf.com/sites/default/files/2018-03/Object%20oriented%20programming.jpg" class="oop" />
<br />
<br />

<h2>Abstracción</h2>

<p>La abstracción nos permite representar objetos del mundo real en el código, centrándonos solo en los detalles relevantes para nuestro problema.</p>

<h2>Encapsulación</h2>
<p>La encapsulación nos permite ocultar los detalles internos de un objeto y exponer solo una interfaz pública para interactuar con él.</p>

<h2>Herencia</h2>
<p>La herencia nos permite crear nuevas clases basadas en clases existentes. Una clase derivada hereda las propiedades y comportamientos de su clase base, y luego puede agregar o modificar funcionalidades según sus necesidades.</p>

<h2>Polimorfismo</h2>
<p>El polimorfismo nos permite utilizar una misma interfaz para objetos de distintas clases, de manera que un objeto puede comportarse de diferentes maneras según el contexto.</p>

